@media only screen and (min-height: 760px){
    footer{
        bottom: 0;
        position: fixed;
    }
}

@media only screen and (min-width: 768px){
    footer{
        bottom: 0;
        position: fixed;
    }
}

